<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group member">
    <%= f.label 'Goal In Cents' %>
    <%= f.text_field :goal_in_cents%>
  </div>

  <div class="form-group member">
    <%= f.label 'Progress In Cents' %>
    <%= f.text_field :progress_in_cents%>
  </div>

  <div class="actions">
   <%= f.submit %>
 </div>

<% end %>
